<!DOCTYPE html>
<html lang="en">

<head>
    <title>Happy Meal</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="./images/logoHappyMeal.ico" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css" />
</head>

<body>

    <header>
        <a href="#restaurant-list" class="skip-link">Skip to content</a>

        <div class="navigation-bar-dekstop">
            <a href="#" class="logo"><i class="fas fa-utensils"></i> HAPPY MEAL</a>
        </div>
        <ul class="navigation-list-dekstop">
            <li class="navigation-items-dekstop"><a href="">Home</a></li>
            <li class="navigation-items-dekstop"><a href="#">Favorite</a></li>
            <li class="navigation-items-dekstop"><a target="_blank"
                    href="https://www.linkedin.com/in/gustiayuistiarabukian/">About Us</a></li>
        </ul>
    </header>

    <nav id="drawer" class="navigation-bar">
        <ul class="navigation-list">
            <li class="navigation-items"><a href="">Home</a></li>
            <li class="navigation-items"> <a href="#">Favorite</a></li>
            <li class="navigation-items"><a target="_blank"
                    href="https://www.linkedin.com/in/gustiayuistiarabukian/">About Us</a></li>
        </ul>
    </nav>

    <div class="navigation-bar-mobile">
        <div class="icon-menu" id="menu"><a href="#">☰</a></div>
        <div tabindex="1" class="logo-mobile"><i class="fas fa-utensils"></i> HAPPY MEAL</div>
        <div class="logo-mobile">&nbsp;</div>
    </div>

    <div class="hero">
        <div class="hero-inner">
            <div class="transbox">
                <h1 class="herotitle">Let's find the best restaurants to eat yummy food!</h1>
            </div>
        </div>
    </div>

    <main id="restaurant-list">
        <section class="restaurant-list">
            <div>
                <h1 class="align-center">Explore Restaurant</h1>
                <div class="restaurant-container" id="viewrestaurant"></div>
            </div>
        </section>
    </main>

    <footer tabindex="0">
        <ul>
            <li>Copyright © 2022 - Happy Meal</li>
            <li>Dicoding Submission Katalog Restoran</li>
        </ul>
    </footer>
</body>

</html>